.top-fixed {
    position: fixed !important;    
    top: 0;    
    right: 0;    
    left: 0;    
    z-index: 1030;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.text-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}